@media screen and (max-width: 979px) {

  .btn {
    margin-top: 20px;
  }

  .txtPokemon {
    margin: 20px;
  }

  img {
    margin: 20px auto;
    display: block;
  }

  h2 {
    text-align: center;
  }

}
